@use "global" as *;

.about-page__content {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(110);
  }
}

.about-page__inner {
  max-width: rem(1122);
  margin: 0 auto;
}

.about-page__info-wrap-container {
  display: flex;
  flex-direction: column;
  // gap: rem(40);

  @include mq("md") {
    // gap: rem(34);
    justify-content: space-between;
    flex-direction: row;
  }
}

.about-page__info-wrap {
  flex-shrink: 0;
}

.about-page__info {
  @include mq("md") {
    width: 40%;
  }
}

.about-page__info-wrapImg {
  border-radius: rem(20);
  overflow: hidden;
  margin-top: rem(16);
  @include mq("md") {
    width: rem(454);
    margin-top: 0;
  }
}

.about-page__logo {
  width: 80%;
  margin-inline: auto;
  margin-top: rem(30);
  max-width: rem(375);

  @include mq("md") {
    width: 59%;
    margin-top: 0;
    margin-inline: 0;
  }
}

.about-page__details {
  font-weight: $light;
}

.about-page__address {
  margin-top: rem(24);
}

.about-page__address-text,
.about-page__tel {
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.36;
  letter-spacing: 0.1em;

  @include mq("md") {
    font-size: rem(18);
  }
}

.about-page__business-text {
  font-weight: 300;
  line-height: 1.36;
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(25);
  }
}

.about-page__business-list li {
  text-indent: -1rem;
  padding-left: 1rem;
  font-size: rem(14);

  @include mq("md") {
    text-indent: 0;
    padding-left: 0;
    font-size: rem(16);
  }
}

.about-page__heading {
  display: flex;
  flex-direction: column;
  gap: rem(30);
}

.about-page__title-line {
  width: 100%;
  height: rem(1);
  background-color: $orange;
}

.about-page__title-main {
  font-size: rclamp(24, 32, 375, 1440);
  font-weight: $semibold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $black;
  font-family: $second-font-family;
  margin-top: rem(16);

  @include mq("md") {
    margin-top: rem(20);
  }
}

.about-page__description {
  font-size: rem(14);
  font-weight: $light;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $black;
  font-family: $base-font-family;
}

.about-page__description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-page__description-list li {
  font-size: rem(14);
  text-indent: -1em;
  padding-left: 1em;
  font-weight: $light;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $black;
  font-family: $base-font-family;
}

.about-page__description-list li + li {
  margin-top: rem(18);
  line-height: 1.7;

  @include mq("md") {
    margin-top: rem(25);
  }
}

.about-page__company-info {
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(33);
  }
}

.about-page__company-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(8);
  padding: rem(20) 0 rem(12);
  border-bottom: 1px solid #ece5d3;

  @include mq("md") {
    flex-direction: row;
    padding: rem(29) 0 rem(15);
    gap: rem(16);
  }
}

.about-page__company-info-item:last-child .about-page__company-info-header {
  border-bottom: none;
}

.about-page__company-info-label {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #034495;
  font-family: $second-font-family;
  flex-shrink: 0;
  text-align: center;

  @include mq("md") {
    width: rem(180);
    font-size: rem(18);
    text-align: left;
  }
}

.about-page__company-info-item:last-child .about-page__company-info-header {
  border-bottom: none;
}

.about-page__company-info-value {
  font-size: rem(14);
  font-weight: $light;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $black;
  font-family: $base-font-family;
  margin: 0;
}

.about-page__company-info-value p {
  margin: 0;
}

.about-page__company-info-value span{
  padding-left: 3em;
}

.about-pageMap__wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 74%;
  margin-top: rem(28);
  border-radius: rem(12);
  overflow: hidden;

  @include mq('md'){
    padding-top: 24%;
    border-radius: rem(20);

  }
}

.bout-pageMap__access iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-page__disclosure {
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(42);
  }
}

.about-page__disclosure-container {
  background-color: $white;
  padding: rem(40) rem(28);

  @include mq('md'){
    padding: rem(60) rem(70);
  }
}

.about-page__disclosure-item {
  padding-bottom: rem(30);
  border-bottom: 1px solid #95782c;
}

.about-page__disclosure-item + .about-page__disclosure-item {
  margin-top: rem(28);
}

.about-page__disclosure-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}


.about-page__disclosure-icon {
  width: rem(10);
  height: rem(10);
  border-radius: 50%;
  background-color: #95782c;
  flex-shrink: 0;
}

.about-page__disclosure-title {
}


.about-page__disclosure-body {
  padding-left: rem(10);

  @include mq('md'){
    padding-left: rem(24);

  }
}

.about-page__disclosure-list {
  list-style: none;
  margin-top: rem(24);

  @include mq("md") {
    margin-top: rem(32);
  }
}

.about-page__disclosure-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rem(18);
}

.about-page__disclosure-list-item + .about-page__disclosure-list-item {
  margin-top: rem(8);

  @include mq('md'){
    margin-top: 0;
  }
}

.about-page__disclosure-arrow {
  font-size: rem(7);
  font-weight: $medium;
  line-height: 1.45;
  color: #3a5abf;
}

.about-page__disclosure-text {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1.2;
  color: #3a5abf;
  font-family: $base-font-family;

  @include mq('md'){
    line-height: 1.7;
  }
}

.about-page__disclosure-line {
  display: none;
  width: rem(1);
  height: 100%;
  background-color: #95782c;

  @include mq("md") {
    display: block;
  }
}

.about-page__disclosure-description {
  font-size: rem(16);
  font-weight: $light;
  line-height: 1.67;
  color: $black;
  margin-top: rem(24);

  @include mq('md'){
    font-size: rem(18);
    margin-top: rem(42);

  }
}

.about-page__disclosure-link {
  display: inline-flex;
  align-items: center;
  gap: rem(8);
  text-decoration: none;
  color: inherit;

  @include mq('md'){
    gap: rem(18);

  }
}

.about-page__disclosure-link--external {
  margin-top: rem(16);
}
