@use "global" as *;
.contact-page__content-inner {
  padding-bottom: rem(60);

  @include mq("md") {
    padding-bottom: rem(100);
  }
}

// お問い合わせフォームのフロー
.contact-form__flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  margin-bottom: rem(60);

  @include mq("md") {
    margin-bottom: rem(80);
  }
}

.contact-form__flow-container {
  display: flex;
  gap: rem(60);
  position: relative;

  @include mq("md") {
    gap: rem(70);
  }
}

.contact-form__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contact-form__step:not(:last-child):after {
  content: "";
  position: absolute;
  right: rem(-85);
  top: 50%;
  transform: translateY(-50%);
  background: #dddddd;
  height: rem(2);
  width: rem(84);
}

.contact-form__step-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(70);
  height: rem(70);
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;

  @include mq("md") {
    width: rem(100);
    height: rem(100);
  }

  &--active {
    background-color: #2e4e7e;
    border-color: #2e4e7e;
  }
}

.contact-form__step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(5);
}

.contact-form__step-number {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;

  .contact-form__step-circle--active & {
    color: #ffffff;
  }

  .contact-form__step-circle--completed & {
    color: #777777;
  }

  .contact-form__step-circle:not(.contact-form__step-circle--active):not(
      .contact-form__step-circle--completed
    )
    & {
    color: #777777;
  }
}

.contact-form__step-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: rem(14);
  line-height: 1;
  letter-spacing: 0.04em;
  text-align: center;

  .contact-form__step-circle--active & {
    color: #ffffff;
  }

  .contact-form__step-circle--completed & {
    color: #777777;
  }

  .contact-form__step-circle:not(.contact-form__step-circle--active):not(
      .contact-form__step-circle--completed
    )
    & {
    color: #777777;
  }

  @include mq("md") {
    font-size: rem(18);
  }
}

.contact-form__separator {
  width: 100%;
  height: rem(2);
  background-color: #dddddd;
  position: absolute;
  top: rem(30);
  left: rem(30);
  right: rem(30);
  z-index: -1;
}

.contact-form__description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(15);
  text-align: center;
  line-height: 1.6;
  color: #000;

  @include mq("md") {
    font-size: rem(18);
    line-height: 1.22;
  }
}

.contact-page__content {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(113);
  }
}
//p-form
.p-form {
  @include mq("md") {
    width: 654px;
    margin-inline: auto;
  }
}

.p-form__item {
  //   display: flex;
  padding: 20px 0;
  flex-direction: column;

  @include mq("md") {
    margin-right: auto;
    margin-left: auto;
    // align-items: center;
    // flex-direction: row;
    padding: rem(9) 0 rem(9) 0;
  }
}

.p-form__item:not(:first-child) {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: rem(9);
  }
}

.p-form__title {
  font-size: rem(16);
  padding: 0 10px;

  @include mq("md") {
    padding: 0 rem(10) 0 rem(9);
    font-size: rem(18);
  }
}
.p-form__title span {
  display: inline-block;
  color: #e07b9f;
  font-size: rem(18);
  padding: rem(2);
}

.p-form__title--type02 {
  justify-content: space-between;

  @include mq("md") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-form__title--type03 {
  flex-direction: column;
}

.p-form__title--aiStart {
  align-items: flex-start;
}

.p-form__input {
  margin-top: rem(8);

  @include mq("md") {
    margin-top: rem(5);
    padding: 0 10px;
  }
}

.age .p-form__input {
  width: 100px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  gap: rem(5);
}

.age .p-form__input input {
  width: 78px;
  text-align: center;
  padding-left: 0;
}

//プレースホルダー
.p-formInput input::placeholder,
.p-formTextarea textarea::placeholder {
  color: #999;
  font-size: rem(16);

  @include mq("md") {
    font-size: rem(18);
  }
}

//インプット
.p-formInput input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: rem(8);
  font-size: 16px;
  background-color: $white;

  @include mq("md") {
    width: 100%;
    height: 50px;
    margin-left: 0;
    padding-left: 15px;
  }
}

.p-formInput input:focus,
.p-formTextarea textarea:focus {
  outline: 2px solid #b5b5b5;
}

.p-formInput--sm input {
  width: 350px;
  max-width: 100%;

  @include mq("md") {
    width: 100%;
  }
}

//インプット_郵便番号
.p-formInput__post {
  display: flex;
  gap: 10px;
  align-items: center;
}

.p-formInput__post input {
  width: 320px;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    width: 100%;
  }
}

//インプット_住所
.p-formInput__address {
  margin-top: 10px;
}

.p-formInput__address input {
  width: 70%;

  @include mq("md") {
    width: 100%;
  }
}

//インプット_電話番号
.p-formInput--tel {
  display: flex;
  gap: rem(20);
  align-items: center;

  @include mq("md") {
    gap: rem(30);
  }
}

.p-formInput--tel > * {
  min-width: 0;
}

.post .p-formInput--tel {
  gap: 4px;
}
.post .p-formInput--tel input {
  width: 77px;
}

.p-formInput--tel input {
  //   width: 150px;
  max-width: 96%;
  border-radius: rem(8);
}

//セレクト
.p-formSelect select {
  width: 250px;
  max-width: 100%;
  height: 60px;
  padding-left: 20px;
  border: 1px solid #b5b5b5;
  border-radius: 0;
  color: lightgray;
  font-size: 16px;
  background: url(../images/common/pulldown.svg) right 10px center / 10px
    no-repeat;
  appearance: none;

  @include mq("md") {
    width: 100%;
    height: 50px;
  }
}

.p-formSelect select:focus {
  outline: 2px solid #b5b5b5;
}

//optionの色を変更
.p-formSelect--selected select {
  color: #333;
}

//トリッキーなレイアウト
.p-formDate__flex {
  display: flex;
  gap: 35px;
  align-items: center;

  @include mq("md") {
    gap: 20px;
    align-items: flex-start;
  }
}

.p-formDate__flex + .p-formDate__flex {
  margin-top: 20px;
}

.p-formDate__label {
  font-size: 16px;
}

.p-form__dataBlock {
  @include mq("md") {
    flex: 1;
  }
}

.p-form__dataBlockFlex {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 20px;
  }
}

.p-form__dataBlockLabel {
  width: 80px;
  font-size: 16px;

  @include mq("md") {
    display: none;
  }
}

.p-form__dataBlockDate {
  @include mq("md") {
    width: 100%;
  }
}

.p-formCalendar {
  position: relative;
}

.p-formCalendar input {
  width: 250px;
  height: 60px;
  padding-left: 20px;
  padding-right: 5px;
  border: 1px solid #b5b5b5;
  border-radius: 0;
  color: lightgray;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  background: url(../images/common/calendar.svg) right 8px center / 15px
    no-repeat;

  @include mq("md") {
    width: 100%;
    height: 50px;
  }
}

.p-formCalendar input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  background: transparent;
  z-index: 1;
}

// Firefox用のスタイル設定
@-moz-document url-prefix() {
  // 自身で追加したカレンダーアイコンを非表示にする
  .p-formCalendar input {
    background: none;
  }

  .p-formCalendar::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M13.5 2H13V1c0-.6-.4-1-1-1s-1 .4-1 1v1H5V1c0-.6-.4-1-1-1S3 .4 3 1v1h-.5C1.1 2 0 3.1 0 4.5v9C0 14.9 1.1 16 2.5 16h11c1.4 0 2.5-1.1 2.5-2.5v-9C16 3.1 14.9 2 13.5 2zm0 12.5h-11c-.6 0-1-.4-1-1V6h13v7.5c0 .6-.4 1-1 1z"></path></svg>')
      no-repeat center center / contain;
    top: 50%;
    right: 10px;
    transform: translateY(-55%);
    pointer-events: none;
  }
}

//iphoneだと中央寄せになってしまうため左寄せ
.p-formCalendar input::-webkit-date-and-time-value {
  text-align: left;
}

//Androidでズレを修正
.Android .p-formCalendar input {
  @include mq("md") {
    padding-left: 15px;
  }
}

.p-formCalendar input:focus {
  outline: 2px solid #b5b5b5;
}

.p-form__dataBlockSelect {
  @include mq("md") {
    width: 100%;
  }
}

// 日付が選択されたら色を変更
.p-form__dataBlockDate input:not(.p-formDate__default) {
  color: #333;
}

//トリッキーなレイアウト2
.p-formNumber__txt {
  font-size: 16px;
}

.p-formNumber__flex {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  align-items: center;

  @include mq("md") {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.p-formNumber__block {
  display: flex;
  align-items: center;
}

.p-formNumber__blockLabel01 {
  margin-right: 30px;
  font-size: 16px;

  @include mq("md") {
    width: 55px;
  }
}

.p-formNumber__blockLabel01 {
  font-size: 16px;
}

.p-formNumber__blockInput {
  width: 150px;
  margin-right: 10px;

  @include mq("md") {
    flex: 1;
    margin-right: 20px;
  }
}

//チェックボックス
.p-formCheckbox input {
  display: none;
}

.p-formCheckbox .wpcf7-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.p-formCheckbox .wpcf7-list-item {
  margin-left: 0;
}

.p-formCheckbox--vertical .wpcf7-checkbox {
  display: block;
}

.p-formCheckbox--vertical .wpcf7-list-item {
  display: block;
  margin: 0;
}

.p-formCheckbox--vertical .wpcf7-list-item + .wpcf7-list-item {
  margin-top: 20px;
}

.p-formCheckbox input + span {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0 0 0 35px;
  font-size: 16px;
  cursor: pointer;
  margin-left: rem(10);

  @include mq("md") {
    font-size: rem(18);
  }
}

.p-formCheckbox input + span::before {
  content: "";
  position: absolute;
  top: 53%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #b5b5b5;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: rem(4);

  @include mq("md") {
  }
}

.p-formCheckbox input + span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  display: block;
  width: 8px;
  height: 13px;
  margin-top: -8px;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
  opacity: 0;
  transform: rotate(45deg);
}

.p-formCheckbox input:checked + span::after {
  opacity: 1;
}

//ラジオボタン
.p-form__input--radio {
  display: flex;
  gap: 15%;
}

.p-formRadio .wpcf7-radio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @include mq("md") {
    gap: 16%;
  }
}

.p-formRadio--vertical .wpcf7-radio {
  display: block;
}

.p-formRadio .wpcf7-list-item {
  margin: 0;
}

.p-formRadio--vertical .wpcf7-list-item {
  display: block;
  margin: 0;
}

.p-formRadio--vertical .wpcf7-list-item + .wpcf7-list-item {
  margin-top: 20px;
}

.p-formRadio input + span {
  display: flex;
  font-size: 16px;
  cursor: pointer;
}

.p-formRadio input[type="radio"] {
  display: none;
}

// チェック前のボタン //
.p-formRadio input + span::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-right: 0.5em;
  margin-bottom: auto;
  border: 3px solid #999999;
  border-radius: 100%;
  background: #fff;
  transition: background-color 0.5s;
}

// チェック後のボタン //
.p-formRadio input:checked + span::before {
  background-color: #2e4e7e;
  box-shadow: inset 0 0 0 2px #fff;
}

//ファイル添付
.p-formFile .wpcf7-form-control-wrap {
  display: block;
}

.p-formFile .wpcf7-form-control-wrap + .wpcf7-form-control-wrap {
  margin-top: 20px;
}

.p-formFile input {
  max-width: 100%;
  font-size: 16px;
  line-height: 1;
}

//テキストエリア
.p-formTextarea textarea {
  width: 100%;
  min-height: 350px;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: rem(8);
  font-size: 16px;
  background-color: $white;

  @include mq("md") {
    width: 100%;
    min-height: 250px;
    margin-left: 0;
    padding-left: 15px;
  }
}

//プライバシーポリシー
.p-form__privacy {
  margin-top: 30px;
  text-align: center;
  font-size: rem(16);
  padding-left: rem(10);
  margin-top: rem(9);

  @include mq("md") {
    text-align: left;
    font-size: rem(18);
  }
}

.p-form__privacy a {
  line-height: 1;
  color: #0066a0;
  @include mq("md") {
  }
}

.p-form__privacy span {
  color: #e07b9f;
}

.p-form__acceptance {
  text-align: center;
  margin-top: rem(5);

  @include mq("md") {
    text-align: left;
  }
}

.comfirm-page .p-form__acceptance {
  padding-left: 1em;
}

//送信ボタン
.p-form__submit {
  margin-top: rem(50);
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(32);
  color: $white;

  @include mq("md") {
    margin-top: rem(53);
    flex-direction: row;
  }

  button {
    background-color: #c75a7b;
    position: relative;
    padding-right: rem(35); // 矢印分の余白調整
    width: rem(270);
    border-radius: rem(35);
    padding: rem(16) rem(10);
    color: $white;

    @include mq("md") {
      width: rem(350);
      padding: rem(20) rem(10);
    }
  }
}

.p-form__submit::before {
  content: "";
  position: absolute;
  right: rem(20);
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/common/icon_arrow-pink.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(20);
  width: rem(20);
  z-index: 10;
}

.comfirm-page .p-form__submit::before {
  top: 80%;

  @include mq("md") {
    top: 50%;
  }
}

.p-form__submit .p-formBtn__back {
  background-color: #2e4e7e;
}

.p-formBtn input {
  width: rem(270);
  padding: 20px 0;
  border: none;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 100px;
  background-color: #c75a7b;
  cursor: pointer;
  transition: opacity 0.5s;
  //iphoneでボタンが崩れるのを防ぐ
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  @include mq("md") {
    width: rem(350);
  }

  &:disabled {
    color: #fff;
    background-color: #eee;
    border-color: #eee;

    @media screen and (min-width: 768px) {
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s;
    }
  }
}

//送信後のメッセージ
.wpcf7 form.sent .wpcf7-response-output {
  padding: 15px 10px;
  border-color: #2c94de;
  font-size: 24px;

  @include mq("md") {
    font-size: 16px;
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  padding: 15px 10px;
  border-color: red;
  font-size: 24px;

  @include mq("md") {
    font-size: 16px;
  }
}

.wpcf7-spinner {
  display: none;
}

//バリデーション
.wpcf7-not-valid-tip {
  display: block;
  color: red;
  font-size: 16px;
  font-weight: normal;
}

//ラジオボタンのバリデーション対策
.wpcf7-form.hide_error_message .wpcf7-not-valid-tip {
  display: none;
}

//トリッキーなレイアウトのバリデーション
.p-formValidation .wpcf7-not-valid-tip {
  display: none;
}

.p-formValidation__error {
  display: none;
  margin-top: 10px;
  color: red;
  font-size: 16px;
  font-weight: normal;
}

.wpcf7-form:not(.hide_error_message) {
  .p-formValidation:has(.wpcf7-not-valid-tip) .p-formValidation__error {
    display: block;
  }
}
