@use "global" as *;
.contact-complete__inner {
  padding-top: rem(40);
  padding-bottom: rem(60);

  @include mq('md'){
    padding-top: rem(60);

  }
}

.contact-complete__content {
  padding: rem(40) 0;
  text-align: center;

  @include mq('md'){
    padding: rem(40) rem(24);

  }
}

.contact-complete__message {
  font-size: rem(18);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 2;
  margin-bottom: rem(32);
  font-size: rclamp(18, 24, 375,1920);
}

.contact-complete__button-wrap {
  text-align: center;
}

.contact-complete__button {
  display: inline-block;
  font-size: rem(15);
  font-weight: 700;
  color: #fff;
  background: #3a5abf;
  border: 1px solid #3a5abf;
  border-radius: rem(32);
  padding: rem(12) rem(40);
  letter-spacing: 0.1em;
  line-height: 1.4;
  transition: background 0.3s;
  text-decoration: none;

  @include mq('md'){
    padding: rem(16) rem(48);
    font-size: rem(16);

  }
}

.contact-complete__button:hover,
.contact-complete__button:focus {
  background: #fff;
  color: #3a5abf;
}
