@use "global" as *;
.consult-banner-wrap {
  margin-top: rem(-62);

  @include mq("md") {
    margin-top: rem(-142);
  }
}

.consult-banner-wrap.inner {
  @include mq("md") {
    max-width: 1372px;
  }
}
.consult-banner {
  margin-inline: auto;
  border-radius: rem(16);
  padding: rem(9);
  box-shadow: 0 0 rem(12) rgba(0, 0, 0, 0.08);
  position: relative;
  box-shadow: rem(3) rem(3) rem(4) rgba(0, 0, 0, 0.12);
  z-index: 1;
  background-color: $white;
  max-width: 326px;
  transition: all 0.3s ease;

  @include mq("md") {
    width: rem(540);
    max-width: none;
    padding: rem(18) rem(20) rem(32) rem(12);
    border-radius: rem(30);
    margin-inline: 0;
    margin-left: auto;
  }
}

.consult-banner:hover {
  transform: translateY(rem(-2));
}

.consult-banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; // transform: translateXY(-50%,-50%);
  //   background: linear-gradient(135deg, #7d98db 0%, #dd6c9f 100%);
  background-image: url(../images/common/bg_circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(91);
  width: rem(91);
  border-top-left-radius: rem(16);
  z-index: -1;

  @include mq("md") {
    height: rem(179);
    width: rem(179);
    left: rem(-16);
    top: rem(-4);
    border-top-left-radius: rem(30);
  }
}

.wrap::before {
  content: "";
  position: absolute;
  left: rem(-49);
  bottom: rem(-49); // transform: translateXY(-50%,-50%);
  //   background: linear-gradient(135deg, #7d98db 0%, #dd6c9f 100%);
  background-image: url(../images/common/icon_nurse.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(160);
  width: rem(224);
  //   z-index: -1;
}

.consult-banner__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(6);
  z-index: 1;
}

.consult-banner__image-wrapper {
  width: 33%;
  position: absolute;
  bottom: 0;
  left: rem(5);

  @include mq("md") {
    width: 32%;
  }
}

.consult-banner__image {
  width: 100%;
  height: auto;
  border-radius: rem(12);
  object-fit: cover;
}

.consult-banner__content {
  @include mq("md") {
    width: 62%;
  }
}

.consult-banner__title-wrap {
  display: flex;
  align-items: flex-start;
  gap: rem(12);
}

.consult-banner__title-icon {
  width: rem(45);
  @include mq("md") {
    width: rem(62);
  }
}

.consult-banner__title {
  font-size: rem(14);
  letter-spacing: 0.05em;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  color: #c54d7f;
  //   margin-left: rem(34);

  @include mq("md") {
    font-size: rem(17);
    text-align: right;
    margin-left: 0;
    margin-top: rem(10);
  }
}

// .consult-banner__title:before {
//   content: "";
//   position: absolute;
//   left: rem(-54);
//   top: 60%;
//   transform: translateY(-50%);
//   background-image: url(../images/common/icon_bubble.png);
//   background-repeat: no-repeat;
//   background-size: contain;
//   height: rem(44);
//   width: rem(44);

//   @include mq('md'){
//     height: rem(59);
//     width: rem(59);
//     left: rem(-1);
//     top: rem(21);
//   }
// }

.consult-banner__title span {
  margin-left: rem(44);
  font-size: rem(15);
  display: block;

  @include mq("md") {
    display: inline;
    margin-left: 0;
    font-size: rem(17);
  }
}

.consult-banner__message {
  font-size: rem(8);
  margin-left: rem(-5);
  text-align: right;

  @include mq("md") {
    font-size: rem(12);
    margin-top: rem(-19);
    text-align: center;
    margin-left: rem(41);
  }
}

.consult-banner__details {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  margin-top: rem(10);
  margin-left: rem(25);
  font-weight: $light;

  @include mq("md") {
    flex-direction: row;
    gap: rem(21);
    margin-top: rem(24);
    align-items: center;
    margin-left: rem(22);
  }
}

.consult-banner__date {
  font-size: rem(12);
  font-weight: $light;
  color: #999;

  @include mq("md") {
    font-size: rem(13);
  }
}

.consult-banner__status {
  font-size: rem(11);
  color: #999;

  @include mq("md") {
    font-size: rem(12);
  }
}

.consult-banner__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  margin-top: rem(9);
  padding: rem(7) rem(20);
  background: #c54d7f;
  color: #ffffff;
  text-decoration: none;
  border-radius: rem(24);
  font-size: rem(11);
  font-weight: 700;
  width: 100%;

  @include mq("md") {
    font-size: rem(12);
    width: 94%;
    padding-block: rem(10);
    gap: rem(15);
    margin-top: rem(4);
  }
}

.consult-banner__button-icon {
  display: inline-flex;
}
