@use "global" as *;
.content-wrap{
    padding: rem(40) rem(28);
    background-color: $white;
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @include mq('md'){
      padding: rem(60) rem(90);
    }
}