@use "global" as *;
// draweropen時に後ろのスクロールを止める記述

body.active {
  height: 100%;
  overflow: hidden;
}

// .drawer {
//   cursor: pointer;
// }

// .drawer__icon {
//   @include mq("md") {
//     display: none;
//   }

//   display: block;
//   position: fixed;
//   top: rem(14);
//   right: rem(22);
//   width: rem(25);
//   height: rem(2);
//   box-sizing: content-box;
//   z-index: 1000;
// }

// .drawer__icon.is-open {
//   z-index: 900;

//   .drawer__icon-bar1 {
//     transform: rotate(45deg);
//     top: rem(7);
//   }
//   .drawer__icon-bar2 {
//     display: none;
//   }
//   .drawer__icon-bar3 {
//     transform: rotate(-45deg);
//     top: rem(7);
//   }
// }
// .drawer__icon-bars {
//   position: relative;
//   width: rem(25);
//   height: rem(14);
// }
// .drawer__icon-bar1,
// .drawer__icon-bar2,
// .drawer__icon-bar3 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: rem(2);
//   background: #fff;
//   transition: transform 0.3s ease;
// }

// .drawer__icon-bar1 {
//   top: 0;
//   border-radius: rem(15);
// }
// .drawer__icon-bar2 {
//   top: rem(6);
//   border-radius: rem(15);
//   width: 100%;
// }
// .drawer__icon-bar3 {
//   top: rem(13);
//   border-radius: rem(15);
//   width: 100%;
// }

// .drawer__content {
//   overflow: scroll;
//   position: fixed;
//   top: 0;
//   right: 0;
//   background: $black;
//   height: 100%;
//   width: rem(300);
//   z-index: 800;
//   transform: translateX(105%);
//   width: 100%;
//   text-align: center;
//   transition: transform 0.5s ease 0s;
//   padding-top: 70px;
//   padding-bottom: 100px;
// }
// .drawer__content.is-open {
//   transform: translateX(0);
//   display: block;
// }

// .drawer__content-items {
//   color: #fff;
//   line-height: 1.57;
//   position: relative;
//   list-style: none;
// }

// .drawer__content-item {
//   position: relative;
// }

// .drawer__content-item a {
//   position: relative;
//   display: block;
// }

// .drawer__content-item::after {
//   position: absolute;
//   content: "";
//   width: 100%;
//   height: 1px;
//   background: #000;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .drawer__content-item {
//   font-size: rem(16);
//   font-family: $base-font-family;
//   font-weight: 600;
//   letter-spacing: rem(1.6);
// }

// .drawer__content-item a {
//   display: block;
//   padding: rem(15) 0;
// }

// /* お問い合わせボタン用 */
// .drawer__content-item--cta a {
//   background: #fff;
//   color: $black;
//   border-radius: rem(32);
//   font-weight: 700;
//   padding: rem(16) 0;
//   margin-top: rem(32);
//   margin-bottom: rem(8);
//   box-shadow: 0 rem(2) rem(8) rgba(0, 0, 0, 0.12);
//   transition: background 0.3s, color 0.3s;
// }
// .drawer__content-item--cta a:hover,
// .drawer__content-item--cta a:focus {
//   color: #fff;
// }

