@use "global" as *;
.js-fadeIn {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 1s ease-out, transform 1s ease-out;

  &.is-active {
    opacity: 1;
    transform: translateY(0);
  }
}
