@use "global" as *;

.service {
  padding: rem(80) 0;
  background-color: #f8f8f8;
}

.service__content {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem(20);
}

.service__title {
  text-align: center;
  margin-bottom: rem(60);
}

.service__list {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.service__item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: rem(20);
  overflow: hidden;
  box-shadow: 0 rem(4) rem(20) rgba(0, 0, 0, 0.1);

  @include mq("md") {
    flex-direction: row;
    align-items: center;
  }
}

.service__item:nth-child(even) {
  @include mq("md") {
    flex-direction: row-reverse;
  }
}

.service__item-img {
  width: 100%;
  height: rem(250);
  overflow: hidden;

  @include mq("md") {
    width: 50%;
    height: rem(300);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.service__item-content {
  padding: rem(30) rem(25);

  @include mq("md") {
    width: 50%;
    padding: rem(40) rem(30);
  }
}

.service__item-title {
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #333333;
  margin-bottom: rem(20);
}

.service__item-text {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: #666666;
}
